.modalContainer {
  position: absolute;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../assets/images/png/popup-background.png");
  background-repeat: no-repeat;
  border-radius: 1vw;
  box-shadow: 0 0 20px rgba(225, 225, 255, 0.2);
  background-position: left;
}

.modalContainer h2 {
  font-size: 2rem;
  text-align: center;
  margin: 3% 0px;
}

.popupForm {
  margin-bottom: 4vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupForm input {
  width: 40vw;
  margin-top: 2%;
  padding: 14px;
  font-size: 1.1rem;
  border-radius: 50px;
  color: var(--black-color);
  border: 2px solid var(--orange-brown-color);
  background-color: var(--white-color);
}

.popupForm ::placeholder {
  color: rgb(0, 0, 0);

  font-size: 1rem;
}

.popupForm p {
  margin-top: 1%;
  color: rgb(255, 0, 0);

  font-weight: 400;
  font-size: 1rem;
}

.popupForm button {
  font-size: 16px;
}

.popupForm .sendBtn {
  padding: 8px 24px;
}
.popupForm .submitButton {
  padding: 8px 16px;
  margin-top: 1.5%;
}
@media (max-width: 992px) {
  .modalContainer {
    width: 90%;
  }
  .modalContainer h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .popupForm {
    width: 100%;
  }
  .popupForm input {
    font-size: 14px;
    width: 60vw;
    padding: 12px;
  }
  .popupForm p {
    font-size: 14px;
  }
  .popupForm ::placeholder {
    font-size: 12px;
  }
  label {
    font-size: 16px;
  }
}
