.contact_section {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.logo {
  width: 100%;
  margin: 30px 0 8% 30px;
}

.logo img {
  width: 190px;
  cursor: pointer;
}

.contact_section h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.6vw;
  font-weight: 600;
}

form .input {
  width: 32%;
}

.input input {
  padding: 2.3% 1%;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  border-radius: 6px;
  color: #000000;
  width: 100%;
}

form .textArea {
  width: 32%;
}
.textArea textarea {
  width: 100%;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  font-size: 1vw;
  padding: 0.8%;
  color: #000000;
  min-height: 40px;
  resize: vertical;
}
.tearmsAndConText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
}

::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.errorMessage {
  color: rgb(217, 48, 37);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
  margin-top: 1%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 1%;
  margin: 3% 0;
  border-top: 1px solid #ffffffdb;
}

.footer .copyRigthText {
  width: 50%;
  font-family: "Inter", sans-serif;
  font-size: small;
  font-weight: 400;
  text-align: center;
}

.footer .SupportText {
  width: 50%;
  font-family: "Inter", sans-serif;
  font-size: small;
  font-weight: 400;
  text-align: center;
}

.faqSection {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 22px;
}

@media (max-width: 992px) {
  .contact_section {
    gap: 25px;
  }
  .logo img {
    width: 150px;
  }

  .contact_section h2 {
    font-size: 20px;
  }
  form .input {
    width: 70%;
  }
  .input input {
    font-size: 16px;
    padding: 10px 8px;
  }
  form .textArea {
    width: 70%;
  }
  .textArea textarea {
    font-size: 16px;
    padding: 10px 8px;
  }
  ::placeholder {
    font-size: 12px;
  }
  .tearmsAndConText {
    width: 70%;
    font-size: 10px;
  }
  .footer .copyRigthText {
    font-size: 10px;
  }
  .footer .SupportText {
    font-size: 10px;
  }
  .errorMessage {
    font-size: 14px;
  }
  .faqSection {
    width: 90%;
  }
}
