.contact_section {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
}

.logo {
  width: 100%;
  margin: 3% 0 0 3%;
}

.contact_section h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.6vw;
  font-weight: 600;
}

form .input {
  width: 32%;
  padding: 1%;
}

.input input {
  padding: 2.3% 1%;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  border-radius: 6px;
  color: #000000;
  width: 100%;
}

form .textArea {
  width: 32%;
}
.textArea textarea {
  width: 100%;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  font-size: 1vw;
  padding: 0.8%;
  color: #000000;
  min-height: 40px;
  resize: vertical;
}
.contact_section .tearmsAndConText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
}

::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 1vw;
}

.errorMessage {
  color: rgb(217, 48, 37);
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 0.9vw;
  margin-top: 1%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 1%;
  margin: 3% 0;
  border-top: 1px solid #ffffffa6;
}

.footer .copyRigthText {
  width: 40%;
  font-family: "Inter", sans-serif;
  font-size: small;
  font-weight: 400;
}

.footer .SupportText {
  width: 40%;
  font-family: "Inter", sans-serif;
  font-size: small;
  font-weight: 400;
}

@media (max-width: 992px) {
  .contact_section {
    gap: 25px;
  }
  .logo {
    margin-bottom: 12%;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }
  .logo h3 {
    font-size: 18px;
  }
  .contact_section h2 {
    font-size: 20px;
  }
  form .input {
    width: 70%;
  }
  .input input {
    font-size: 16px;
    padding: 10px 8px;
  }
  form .textArea {
    width: 70%;
  }
  .textArea textarea {
    font-size: 16px;
    padding: 10px 8px;
  }
  ::placeholder {
    font-size: 12px;
  }
  .contact_section .tearmsAndConText {
    width: 70%;
    font-size: 10px;
  }
  .footer .copyRigthText {
    font-size: 9px;
  }
  .footer .SupportText {
    font-size: 9px;
  }
  .errorMessage {
    font-size: 14px;
  }
}
