.banner_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 600px;

  .logo {
    margin: 1% auto;
    max-width: 1440px;
    width: calc(100% - (224px / 1440px * 100%));
    img {
      width: 200px;
      cursor: pointer;
    }
  }
  .banner_Content {
    margin: auto;
    max-width: 1440px;
    width: calc(100% - (224px / 1440px * 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    isolation: isolate;
    .content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 550px;
      width: 100%;

      h1 {
        color: #5a5a5a;
        font-family: "Inter", sans-serif;
        font-size: 4.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 107.698%;
      }

      h2 {
        font-family: "Inter", sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 700;
        line-height: 91%;
      }
      p {
        margin: 1vw 0;
        font-family: "Inter", sans-serif;
        font-size: 3vw;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }

      @media (min-width: 1440px) {
        h1 {
          font-size: 59px;
        }
        h2 {
          font-size: 70px;
        }

        p {
          font-size: 50px;
        }
        button {
          padding: 15px 30px 15px 30px;
          font-size: 24px;
        }
      }
      @media (max-width: 992px) {
        h1 {
          font-size: 35px;
        }
        h2 {
          font-size: 40px;
        }

        p {
          font-size: 30px;
        }
      }
    }
  }

  .banner_img {
    position: absolute;
    width: 90vw;
    z-index: -1;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 100%;
    .mobileView {
      display: none;
    }
    img {
      width: 100%;
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.vector {
        width: 105%;
      }
      &.device {
        top: 27%;
        bottom: unset;
        transform: translate(-50%, -10%);
        width: 75%;
      }
    }

    @media (max-width: 1200px) {
      width: 85%;

      img {
        &.vector {
          width: 150%;
          top: 50%;
          left: 62%;
        }
        &.device {
          width: 85%;
          bottom: unset;
          top: 50%;
          transform: translate(-47%, -40%);
        }
      }
    }

    @media (max-width: 800px) {
      img {
        &.vector {
          left: 68%;
        }
        &.device {
          width: 85%;
          bottom: unset;
          top: 50%;
          transform: translate(-42%, -35%);
        }
      }
    }
  }

  @media (max-width: 600px) {
    gap: 40px;
    height: fit-content;
    .banner_img {
      transform: unset;
      left: 0;
      top: 0;
      height: 450px;
      position: relative;
      margin: auto;
      .windowView {
        display: none;
      }
      .mobileView {
        display: block;
      }
      img {
        &.vector {
          width: 240%;
        }
        &.device {
          width: 113%;
          left: 60%;
          transform: translate(-59%, -50%);
        }
      }
    }
  }
}
.hd_about_section {
  position: relative;
  img.about_img {
    position: absolute;
    left: -28%;
    z-index: -1;
    top: 0;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    img.about_img {
      left: -24%;
    }
  }
  @media (max-width: 768px) {
    &.about_section {
      width: 100%;
    }
    img.about_img {
      object-fit: contain;
      left: -20%;
    }
  }
  @media (max-width: 596px) {
    img.about_img {
      left: -10%;
    }
  }
  @media (max-width: 596px) {
    img.about_img {
      left: 0%;
    }
  }
}
.about_section {
  display: flex;
  width: calc(100% - (224px / 1440px * 100%));
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  position: relative;

  h2 {
    color: #5a5a5a;
    font-family: "Inter", sans-serif;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 107.698%;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 91%; /* 91% */
  }

  p {
    width: 56vw;
    margin: 1vw 0 6vw 0;
    color: #7c7a7a;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  img {
    width: 80%;
    height: 80%;
  }
  @media (max-width: 992px) {
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 40px;
    }
    p {
      width: auto;
      font-size: 16px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.download_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - (224px / 1440px * 100%));
  margin: auto;
  h2 {
    color: #5a5a5a;
    font-family: "Inter", sans-serif;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 107.698%;
  }
  .download_content {
    display: flex;
    background-image: url("../../assets/images/png/download-background.png");
    background-repeat: round;
    justify-content: center;
    align-items: center;
    height: 63.5%;
    gap: 10px;
    padding: 0 20px;
    width: calc(100% - 40px);
    margin-top: 4.4%;
  }
  .download_content .download {
    height: 80%;
    margin: 5%;
    background-color: #171819;
    border-radius: 20%;
  }

  @media (max-width: 600px) {
    h2 {
      font-size: 6.5vw;
    }
  }
}

.features_section {
  background-color: rgba(36, 35, 35, 0.473);
  display: flex;
  align-items: center;

  .features_content {
    width: 25%;
    margin-left: 4%;
  }

  .vector_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4% 0 0 7%;
    width: 81%;
    height: 96%;
  }

  h2 {
    margin-top: 2%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
  }

  p {
    margin: 1vw 0;
    width: 95%;
    color: #5a5a5a;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  h3 {
    display: flex;
    flex-wrap: wrap;
    width: 22%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 146.5%;
  }
  .text1 {
    margin-bottom: 10%;
  }
  .text2 {
    margin: 0 0 10% 3%;
  }
  .text3 {
    margin-bottom: 9%;
  }
  .text4 {
    margin: 10% 0 0 1%;
  }
  .text5 {
    margin: 17% 0 20% 1%;
  }
  .text6 {
    margin: 21% 0 0 1%;
  }
  .text7 {
    margin: 19% 0 0 1%;
  }

  @media (max-width: 992px) {
    &.features_section {
      margin: auto;
      width: 95vw;
      flex-direction: column-reverse;
      align-items: unset;
    }
    .features_content {
      width: 100%;
      margin-left: unset;
    }

    .golden_vector {
      width: 100%;
      svg {
        width: 100%;
      }
    }
    .vector_content {
      width: 92%;
      height: 100%;
    }
    h2 {
      font-size: 40px;
      text-align: center;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      width: fit-content;
    }
    h3 {
      width: 27%;
      line-height: 118.5%;
      font-size: 2.1vw;
    }
    .h4 {
      font-family: "Inter", sans-serif;
    }

    .text3 {
      margin-bottom: 0px;
    }
    .text4 {
      margin-left: 4%;
    }
  }
  .text5 {
    margin: 19% 0 0 4%;
  }
  .text6 {
    margin: 20% 0 0 4%;
  }
  .text7 {
    margin: 16% 0 0 4%;
  }
}

.subscribe_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 91%;
    margin-bottom: 3.5%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 700px) {
    h2 {
      font-size: 40px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  .logo {
    margin-left: 5vw;
    height: 10vw;
    img {
      width: 150px;
      cursor: pointer;
    }
  }

  &::before {
    width: 100%;
    height: 15px;
    content: "";
    background-image: linear-gradient(540deg, #ffffff94, transparent);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    width: 100%;
    height: 15px;
    content: "";
    background-image: linear-gradient(360deg, #edcf7cbd, transparent);
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 3% 4% 7%;
    gap: 6px;
    h3 {
      font-family: "Inter", sans-serif;
      font-size: 2vw;
      font-weight: 600;
    }
    ::placeholder {
      color: black !important;
      font-size: 1vw;
    }
    p {
      font-family: "Inter", sans-serif;
      font-size: 1.5vw;
      font-weight: 400;
    }

    .support {
      margin: 0 0 2vw 2vw;
    }
    .social_link {
      display: flex;
      justify-content: center;
      img {
        cursor: pointer;
      }
    }
  }
  .footerDesign {
    position: absolute;
    overflow: hidden;
    width: 50vw;
    transform: translate(35%, 35%);
    z-index: -1;
  }
  @media (max-width: 992px) {
    &.footer {
      width: 95vw;
      margin: auto;
    }
    .footer_content {
      padding-right: 8px;
      padding-top: 14px;
      h3 {
        font-size: 18px;
      }
      ::placeholder {
        font-size: 16px;
      }
      p {
        font-size: 16px;
      }
    }
    .social_link {
      img {
        width: 70%;
      }
    }
  }
  @media (max-width: 560px) {
    &.footer {
      justify-content: center;
    }
    .footerDesign {
      display: none;
    }
    .logo {
      margin-top: 15px;
    }
  }
}
