.banner_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 600px;
}
.banner_section .logo {
  margin: 15px auto;
  max-width: 1440px;
  width: 84.4444444444%;
}
.banner_section .logo img {
  width: 190px;
  cursor: pointer;
}
.banner_section .banner_Content {
  margin: auto;
  max-width: 1440px;
  width: 84.4444444444%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  isolation: isolate;
}
.banner_section .banner_Content .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 550px;
  width: 100%;
}
.banner_section .banner_Content .content h1 {
  color: var(--grey-color);
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 107.698%;
}
.banner_section .banner_Content .content h2 {
  font-size: 5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 91%;
}
.banner_section .banner_Content .content p {
  margin: 1vw 0;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
@media (min-width: 1440px) {
  .banner_section .banner_Content .content h1 {
    font-size: 59px;
  }
  .banner_section .banner_Content .content h2 {
    font-size: 70px;
  }
  .banner_section .banner_Content .content p {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .banner_section .banner_Content .content h1 {
    font-size: 35px;
  }
  .banner_section .banner_Content .content h2 {
    font-size: 40px;
  }
  .banner_section .banner_Content .content p {
    font-size: 30px;
  }
}
.banner_section .banner_img {
  position: absolute;
  width: 90vw;
  z-index: -1;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.banner_section .banner_img .mobileView {
  display: none;
}
.banner_section .banner_img img {
  width: 100%;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_section .banner_img img.vector {
  width: 105%;
}
.banner_section .banner_img img.device {
  top: 27%;
  bottom: unset;
  transform: translate(-50%, -10%);
  width: 75%;
}
@media (max-width: 1200px) {
  .banner_section .banner_img {
    width: 85%;
  }
  .banner_section .banner_img img.vector {
    width: 150%;
    top: 50%;
    left: 62%;
  }
  .banner_section .banner_img img.device {
    width: 85%;
    bottom: unset;
    top: 50%;
    transform: translate(-47%, -40%);
  }
}
@media (max-width: 800px) {
  .banner_section .banner_img img.vector {
    left: 68%;
  }
  .banner_section .banner_img img.device {
    width: 85%;
    bottom: unset;
    top: 50%;
    transform: translate(-42%, -35%);
  }
}
@media (max-width: 600px) {
  .banner_section {
    gap: 40px;
    height: auto;
    height: -moz-fit-content;
    height: fit-content;
  }
  .banner_section .banner_img {
    transform: unset;
    left: 0;
    top: 0;
    height: 450px;
    position: relative;
    margin: auto;
  }
  .banner_section .banner_img .windowView {
    display: none;
  }
  .banner_section .banner_img .mobileView {
    display: block;
  }
  .banner_section .banner_img img.vector {
    width: 240%;
  }
  .banner_section .banner_img img.device {
    width: 113%;
    left: 60%;
    transform: translate(-59%, -50%);
  }
}

.hd_about_section {
  position: relative;
}
.hd_about_section img.about_img {
  position: absolute;
  left: -28%;
  z-index: -1;
  top: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .hd_about_section img.about_img {
    left: -24%;
  }
}
@media (max-width: 768px) {
  .hd_about_section.about_section {
    width: 100%;
  }
  .hd_about_section img.about_img {
    -o-object-fit: contain;
       object-fit: contain;
    left: -20%;
  }
}
@media (max-width: 596px) {
  .hd_about_section img.about_img {
    left: -10%;
  }
}
@media (max-width: 596px) {
  .hd_about_section img.about_img {
    left: 0%;
  }
}

.about_section {
  display: flex;
  width: 84.4444444444%;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  position: relative;
}
.about_section .videoPanel {
  width: 80%;
}
.about_section h2 {
  color: var(--light-grey-color);
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 107.698%;
}
.about_section h3 {
  font-size: 5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 91%;
}
.about_section p {
  width: 56vw;
  margin: 1vw 0;
  color: var(--light-grey-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.about_section img {
  width: 80%;
  height: 80%;
}
@media (max-width: 992px) {
  .about_section h2 {
    font-size: 35px;
  }
  .about_section h3 {
    font-size: 40px;
  }
  .about_section p {
    width: auto;
    font-size: 16px;
  }
  .about_section img {
    width: 100%;
    height: 100%;
  }
  .about_section .videoPanel {
    width: 90%;
  }
}

.download_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 84.4444444444%;
  margin: auto;
}
.download_section h2 {
  color: var(--grey-color);
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 107.698%;
}
.download_section .download_content {
  display: flex;
  background-image: url("../../assets/images/png/download-background.png");
  background-repeat: round;
  justify-content: center;
  align-items: center;
  height: 63.5%;
  gap: 10px;
  padding: 0 20px;
  width: calc(100% - 40px);
  margin-top: 4.4%;
}
.download_section .download_content .download {
  height: 80%;
  margin: 5%;
  background-color: #171819;
  border-radius: 20%;
}
@media (max-width: 600px) {
  .download_section h2 {
    font-size: 6.5vw;
  }
}

.features_section {
  background-color: rgba(36, 35, 35, 0.473);
  display: flex;
  align-items: center;
}
.features_section .features_content {
  width: 25%;
  margin-left: 4%;
}
.features_section .golden_vector {
  position: relative;
}
.features_section .vector_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4% 0 0 7%;
  width: 81%;
  height: 96%;
}
.features_section h2 {
  margin-top: 2%;
  font-style: normal;
  font-weight: 600;
  font-size: 4vw;
}
.features_section p {
  margin: 1vw 0;
  width: 95%;
  color: var(--light-grey-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.features_section h3 {
  display: flex;
  flex-wrap: wrap;
  width: 22%;
  font-weight: 400;
  font-size: 1vw;
  line-height: 146.5%;
}
.features_section .text1 {
  margin-bottom: 10%;
}
.features_section .text2 {
  margin: 0 0 10% 3%;
}
.features_section .text3 {
  margin-bottom: 9%;
}
.features_section .text4 {
  margin: 10% 0 0 1%;
}
.features_section .text5 {
  margin: 17% 0 20% 1%;
}
.features_section .text6 {
  margin: 21% 0 0 1%;
}
.features_section .text7 {
  margin: 19% 0 0 1%;
}
@media (max-width: 992px) {
  .features_section.features_section {
    margin: auto;
    width: 95vw;
    flex-direction: column-reverse;
    align-items: unset;
  }
  .features_section .features_content {
    width: 100%;
    margin-left: unset;
  }
  .features_section .golden_vector {
    width: 100%;
  }
  .features_section .golden_vector svg {
    width: 100%;
  }
  .features_section .vector_content {
    width: 92%;
    height: 100%;
  }
  .features_section h2 {
    font-size: 40px;
    text-align: center;
  }
  .features_section p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .features_section h3 {
    width: 27%;
    line-height: 118.5%;
    font-size: 2.1vw;
  }
  .features_section .text3 {
    margin-bottom: 0px;
  }
  .features_section .text4 {
    margin-left: 4%;
  }
}
.features_section .text5 {
  margin: 19% 0 0 4%;
}
.features_section .text6 {
  margin: 20% 0 0 4%;
}
.features_section .text7 {
  margin: 16% 0 0 4%;
}

.subscribe_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.subscribe_section h2 {
  text-align: center;
  font-size: 5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 91%;
  margin-bottom: 3.5%;
}
.subscribe_section img {
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .subscribe_section h2 {
    font-size: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.footer .logo {
  margin-left: 5vw;
  height: 10vw;
}
.footer .logo img {
  width: 150px;
  cursor: pointer;
}
.footer::before {
  width: 100%;
  height: 15px;
  content: "";
  background-image: linear-gradient(540deg, rgba(255, 255, 255, 0.5803921569), transparent);
  position: absolute;
  top: 0;
  left: 0;
}
.footer::after {
  width: 100%;
  height: 15px;
  content: "";
  background-image: linear-gradient(360deg, rgba(237, 207, 124, 0.7411764706), transparent);
  position: absolute;
  top: unset;
  bottom: 0;
  left: 0;
}
.footer .footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 3% 4% 7%;
  gap: 6px;
}
.footer .footer_content h3 {
  font-size: 2vw;
  font-weight: 600;
}
.footer .footer_content ::-moz-placeholder {
  color: black !important;
  font-size: 1vw;
}
.footer .footer_content ::placeholder {
  color: black !important;
  font-size: 1vw;
}
.footer .footer_content p {
  font-size: 1.5vw;
  font-weight: 400;
}
.footer .footer_content .support {
  margin: 0 0 2vw 2vw;
}
.footer .footer_content .contactBtn {
  padding: 10px 12px;
  font-size: 14px;
}
.footer .footer_content .social_link {
  display: flex;
  justify-content: center;
}
.footer .footer_content .social_link img {
  width: 36px;
  height: auto;
  cursor: pointer;
}
.footer .footerDesign {
  position: absolute;
  overflow: hidden;
  width: 50vw;
  transform: translate(35%, 35%);
  z-index: -1;
}
@media (max-width: 992px) {
  .footer .footer_content {
    padding-right: 8px;
    padding-top: 14px;
  }
  .footer .footer_content h3 {
    font-size: 18px;
  }
  .footer .footer_content ::-moz-placeholder {
    font-size: 16px;
  }
  .footer .footer_content ::placeholder {
    font-size: 16px;
  }
  .footer .footer_content p {
    font-size: 16px;
  }
  .footer .social_link img {
    width: 70%;
  }
}
@media (max-width: 560px) {
  .footer.footer {
    justify-content: center;
  }
  .footer .footerDesign {
    display: none;
  }
  .footer .logo {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.module.css.map */