.logo {
  margin: 15px 0 0 3%;
}

.logo img {
  width: 190px;
  cursor: pointer;
}

._404Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

@media (max-width: 992px) {
  .logo img {
    width: 150px;
  }
}
