.logo {
  margin: 3% 0 0 3%;
}

.logo img {
  cursor: pointer;
}

._404Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 992px) {
  .logo img {
    width: 60px;
    height: 60px;
  }
  .logo h3 {
    font-size: 20px;
  }
}
