/* @font-face {
  font-family: "'Inter', sans-serif";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "'Inter', sans-serif";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "'Inter', sans-serif";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "'Inter', sans-serif";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Medium.woff") format("woff");
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  overflow-x: hidden;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  border: none;
  box-sizing: content-box;
}

#root {
  display: flex;
  gap: 108px;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5af;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #434343;
}
