.logo {
  padding-bottom: 2%;
  background-color: black;
}

.logo img {
  margin: 15px 0 0 3%;
  width: 190px;
  cursor: pointer;
}

.body_container {
  display: flex;
}

.menu_container {
  width: 18%;
  border-right: 1px solid #dadde1;
  padding: 2%;
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

.menu_container::-webkit-scrollbar {
  width: 0;
}

.menu_container ol li {
  font-size: 12px;
  line-height: 1.5rem;
  margin-bottom: 0.3px;
}

.card_container {
  margin: auto;
  width: 78%;
  border-width: 0;
}

.content_container {
  padding: 1.25rem;
}

.content_container h1,
.content_container h3,
.content_container h6 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.table_of_content_head {
  color: var(--rustic-brown-color);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.content_container h6 {
  font-size: 1rem;
}

.content_container p {
  color: #dcdcdc;
  white-space: normal;
  margin-bottom: 1.25rem;
  line-height: 2;
  font-size: 1rem;
  word-wrap: break-word;
}

.panel_head {
  margin-bottom: 1.5rem;
}

.panel_body {
  margin-top: 0.5rem;
}

.panel_body h3 {
  font-size: 1.125rem;
  border-left: 3px solid var(--orange-brown-color);
  padding-left: 0.911rem;
  margin-left: -0.911rem;
}

.sub_content_section {
  background: var(--white-color) 10;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.panel_body strong {
  color: #dcdcdc;
}

.sub_content_section ul {
  padding: inherit !important;
  list-style-type: none;
}

.sub_content_section ul li::before {
  content: "\2756";
  color: var(--rustic-brown-color);
  display: inline-block;
  text-indent: -17px;
}

.sub_content_section ul li {
  font-size: 0.875rem;
  line-height: 2;
  margin: 0.5rem 0;
  color: #dcdcdc;
}

.sub_content_section ol li {
  font-size: 0.875rem;
  line-height: 2;
  margin: 0 0 1rem 1rem;
}

.mobileview_menu {
  display: none;
}
.table {
  border-top: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}
.table th,
td {
  padding: 1px;
  border-bottom: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 1%;
  margin: 3% 0;
  border-top: 1px solid var(--white-color) db;
}
.footer .copyRigthText {
  width: 50%;
  font-size: small;
  font-weight: 400;
  text-align: center;
}

.footer .SupportText {
  width: 50%;
  font-size: small;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .logo img {
    width: 150px;
  }
  .mobileview_menu {
    display: block;
  }
  .menu_container {
    display: none;
  }
  .card_container {
    width: unset;
  }
  .content_container h1 {
    font-size: 1.5rem;
  }
}
